body {
  background-color: rgb(11, 7, 68);
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Đặt màu cho tất cả các thẻ khác nếu cần */
a {
  color: lightblue; /* Màu cho link, bạn có thể tùy chỉnh */
}
/* 
button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 15px;
} */

input, textarea {
  background-color: black;
  color: white;
  border: 1px solid #fff;
  padding: 5px;
}